{% extends 'base.html' %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Halaman Analisis Sentimen</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Halaman Analisis Sentimen</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Analisis Sentimen</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button> -->
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <label>Pilih Produk : </label>
          <!-- <form id="proses_data"> -->
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <select class="form-control select2" id="selectProduct" style="width: 100%;" required>
                    {% for dp in data_produk %}
                      <option value="{{dp.id}}">{{dp.nama_product}}</option>
                    {% endfor %}
                  </select>
                </div>
                
              </div>
              <div class="col-md-2">
                <select class="form-control select2" id="jumlahHalaman" style="width: 100%;" required>
                  <option selected="selected" disabled>Jumlah Halaman</option>
                  {% for _ in '0123456789'|make_list %}
                    <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-2">
                <button type="button" id="proses" class="btn btn-primary btn-block"> <i class="fas fa-sync"></i> &nbsp; Proses</button>
              </div>
            </div>
          <!-- </form> -->
          <!-- /.row -->
          <div class="container-fluid" id="table-proses">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Data Sentimen</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" id="detail_produk">
                    <div class="callout callout-info">
                      <h5 id="nama_produk"></h5>
                      <p id="kategori"></p>
                    </div>
                    <div id="sentimen-table"></div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          Sistem Analisis Sentimen Produk Pada Laman Komentar <a href="https://femaledaily.com/">Female Daily.</a>
        </div>
      </div>
      <!-- /.card -->

    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}

{% block extrascripts %}
<script>
  $(document).ready(function () {
    $('#table-proses').hide();

    $('#proses').click(() => {
      $('#table-proses').show();

      var id = $('#selectProduct').val();
      var jml = $('#jumlahHalaman').val();
      id == null ? id=100 : id;
      jml == null ? jml=1 : jml;

      var url = `http://127.0.0.1:8000/getData/getDataReviews/?id=${id}&jumlah=${jml}`;
    
      $("#sentimen-table").jsGrid({
        height: "auto",
        width: "100%",
 
        sorting: true,
        paging: true,
        autoload: true,
        pageSize: 10,
 
        controller: {
          loadData: function() {
            var d = $.Deferred();
 
            $.ajax({
                url: url,
                dataType: "json"
            }).done(function(response) {
                d.resolve(response)
            });

            return d.promise().then(x => {
              $("#nama_produk").html(`Nama Produk : ${x[0]['nama_product']} <a href='${x[0]['url']}' target='_blank'>  <i class='fas fa-external-link-alt'></i></a>`)
              $("#kategori").text("Kategori : "+x[0]['kategori'])

              var p = [];
              $.each(x[0]['review'], function(i, xyz){
                p.push({No:(i+1),Review:xyz,Label:''})
              })
              return p
            });

          }
        },
 
        fields: [
          { name: "No", type: "number", width: 20 },
          { name: "Review", type: "text", width: 250 },
          { name: "Label", type: "text", width: 30 }
        ]
    });






    //   setTimeout(() => {
    //     new gridjs.Grid({
    //       pagination: {
    //         limit: 10
    //       },
    //       columns: ['No', 'Review', 'Label'],
    //       server: {
    //         url: url,
    //         then: data => data[0]['review'].map((xyz,i) => [
    //           (+i+1), xyz, gridjs.html(``)
    //         ]),
    //         total: data => data.count
    //       },
    //     }).render(document.getElementById("sentimen-table"));
    //   },1000)
    });
  });
</script>
{% endblock extrascripts %}
