{% extends 'base.html' %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Uji Support Vector Machine</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Halaman Uji Support Vector Machine</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Uji Support Vector Machine</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button> -->
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          {% for d in data %}
            <pre>
              {{d.index_number}} <br>
              {{d.review}} <br>
              {{d.normalisation}} <br>
              {{d.label}}
            </pre>
          {% endfor %}
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          Sistem Analisis Sentimen Produk Pada Laman Komentar <a href="https://femaledaily.com/">Female Daily.</a>
        </div>
      </div>
      <!-- /.card -->

    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<style type="text/css">
  tr {
    vertical-align: top !important
  }
</style>

{% endblock content %}

{% block extrascripts %}
<script>
  $(document).ready(function () {
    let data_review = [];
    
    $("#simpan_data").click(function(){
      $.ajax({
        url: `http://127.0.0.1:8000/empty_data`,
        type: 'GET',
        success: function(res){
          console.log("BERHASIL MENGHAPUS DATA");
        },
        error: function(err){
          console.log(err);
        }
      })

      setTimeout(() => {
        var url = `http://127.0.0.1:8000/insert_review`;
        $.each(data_review, function (i, val) {  
          let index_number = '000';
          if(i.toString().length==1) index_number = '00'+i
          else if(i.toString().length==2) index_number = '0'+i
          else index_number = i

          const label = $(`#review${i}`).val();
          console.log(label);

          let final_data = ({
            'index_number' : index_number,
            'review': val['review'],
            'normalisation': val['normalisation'],
            'label': label,
            'csrfmiddlewaretoken': '{{csrf_token}}'
          })

          // console.log(final_data);

          if(true){
            $.ajax({
              url: url,
              type: 'POST',
              data: final_data,
              success: function(res){
                console.log(i + " -> SUCCESS 200");              
                // console.log(res);
              },
              error: function(err){
                console.log(i+" -> "+err);
                // console.log(err);
              }
            })
          }

          if(i==data_review.length-1){
            toastr.success(`Data berhasil disimpan`)
            location.reload();
          }

        })

      },1000)
      
    });


    $('#table-proses').hide();

    $('#proses').click(() => {      
      $('#table-proses').show();
      $('.card-header, .callout').hide();

      var id = $('#selectProduct').val();
      var jml = $('#jumlahHalaman').val();
      id == null ? id=100 : id;
      jml == null ? jml=1 : jml;

      var url = `http://127.0.0.1:8000/getData/getDataReviews/?id=${id}&jumlah=${jml}`;
    
      $("#sentimen-table").jsGrid({
        height: "auto",
        width: "100%",
 
        sorting: true,
        paging: true,
        autoload: true,
        pageSize: 500,
 
        controller: {
          loadData: function() {
            var d = $.Deferred();
 
            $.ajax({
                url: url,
                dataType: "json"
            }).done(function(response) {
                d.resolve(response)
            });

            return d.promise().then(x => {
              $("#nama_produk").html(`Nama Produk : ${x[0]['nama_product']} <a href='${x[0]['url']}' target='_blank'>  <i class='fas fa-external-link-alt'></i></a>`)
              $("#kategori").text("Kategori : "+x[0]['kategori'])
              console.log(x);
              var p = [];
              // labels = x[0]['review']['training_data'];

              $.each(x[0]['review']['comment'], function(i, xyz){
                p.push({
                  No: (i+1),
                  Review: xyz[0],
                  Normalisation: xyz[1],
                  Label: `
                  <div class="form-group">
                    <label>Kelas</label>
                    <select class="form-control select2 label-value" id="review${i}" style="width: 100%;">
                      <option selected="selected" value="1">Positif</option>
                      <option value="0">Negatif</option>
                    </select>
                  </div>
                  `
                  // Label: labels[i]['class'] ? 'Positif' : 'Negatif'
                })

                data_review.push({
                  'review': xyz[0],
                  'normalisation': xyz[1],
                  'label': 1
                })
              })
        
              $('.card-header, .callout').show();

              return p
            });

          }
        },
 
        fields: [
          { name: "No", type: "number", width: 20 },
          { name: "Review", type: "text", width: 150 },
          { name: "Normalisation", type: "text", width: 150 },
          { name: "Label", type: "text", width: 50 }
        ]
      });

    });
  });
</script>
{% endblock extrascripts %}
